body {
  text-align: center;
  overflow: hidden;
  background-image: linear-gradient(to right, rgb(0, 0, 0, .9), rgb(0, 0, 0, .9)), url(/Images/poster1.jpg);
}

.background {
  color: white;
  margin-top: 20px;
  margin-bottom: 190px;
}

.searching {
  width: 170px;
  margin-top: 50px;
}

.reel {
  margin-top: 120px;
  transform: rotate(-70deg);
  position: absolute;
  z-index: -1;
}

.display-4 {
  font-family: 'Raleway', sans-serif;
  font-size: 5.5rem;
  display: inline;
}

.lead {
  font-family: 'Dancing Script', cursive;
  font-size: 3.25rem;
  margin-bottom: 0;
}

.lead1 {
  font-family: 'Dancing Script', cursive;
  font-size: 3.25rem;
  margin-bottom: 20px;
}

.lead2 {
  font-family: 'Tenali Ramakrishna', sans-serif;
  font-size: 1.35rem;
}

.rounded {
  width: 258px;
  margin-top: 20px;
  margin-right: 10px;
  height: 46px;
  padding-left: 15px;
  border-bottom-width: 2px;
}

.btn {
  margin-bottom: 4px;
}

.qrdiv {
  /* display: flex;
  flex-direction: column; */
  position: absolute;
  left: -10%;
  bottom: 8%;
}

.qrCode {
  height: 50%;
  width: 20%;
}

.typed-cursor {
  font-size: 60px;
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.footer {
  color: white;
}

@media (max-width: 500px) {
  .reel {
    display: none;
  }

  .typed-cursor {
    font-size: 60px;
  }

  .display-4 {
    font-size: 3.5rem;
  }

  .lead {
    font-size: 2.25rem;
  }

  .lead1 {
    font-size: 2.25rem;
  }
}